*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#stop-audio-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #283593;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000; 
}

body{
    background-color: #000020;
}

.app{
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 30px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.app h1{
    font-size: 25px;
    color: #283593;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: black;
    font-weight: 30px;
}

#answer-buttons{
    margin-top: 20px;
}

#image-container {
    text-align: center;
    margin-top: 20px;
}

#question-image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.btn{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: white;
}

.btn:disabled{
    cursor: no-drop;
}

#start-button{
    background-color: #283593;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#geography-button{
    background-color: #283593;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#science-button{
    background-color: #21D173;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#next-button{
    background-color: #283593;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background-color: #82E0AA;
}

.incorrect{
    background-color: #F1948A;
}